body{
    margin: 0;
}

.cardSize{
    width: 237px;
    height: 130px;
    background:#0094FF;
    border-radius: 7px;
    
}


p{
    margin: 0;
}
.text1{
    position: relative;
    top: 11px;
    margin-left: 11px;
    margin-right:11px ;
    display: flex;
    justify-content:space-between;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
}

.img1{
    width: 27px;
    height: 9px;
    position: relative;

   
}
.num{
    margin: 11px;
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height */
    color: #FFFFFF;
    position: relative;
    top: 11px;
}
.schet{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    margin: 11px;    
    color: #FFFFFF;
    position: relative;
    top: 45px;
}
.moth{
    margin: 0 auto;
    width: 27px;
    height: 12px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    /* identical to box height */
    top: 24px;
    left: 97px;
    position: relative;
    color: #FFFFFF;
}