<link rel="stylesheet" href="card.component.scss">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <div class="cardSize">
        <div class="text1">
            <p class="txt1">Card name</p>
            <div class="img1">
                <img class="img1" src="./assets/Vector.png" alt="">
            </div>
        </div>
        <div>
            <p class="num">0000 0000 0000 0000</p>
        </div>
        <div>
            <p class="schet">4989,33RUB</p>
        </div>
        <div>
            <p class="moth">02/33</p>
        </div>

    </div>



